Package: com.andugu.screenchat
Name: ScreenChat
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: An open-source Snapchat tweak for non-jailbroken devices.
Maintainer: andugu
Author: andugu
Section: Tweaks
